<html>
  <head>
    <title>Word Problem Solver</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>
  </head>
<body>
    <h3>Word Problem Solver</h3>

<div>
  <form action="/solve" method="POST">
    <label for="question_text">Enter your question:</label>
      <textarea name="question_text" rows="10" cols="30"></textarea>>
    <br>
    <input type="submit" value="Submit">
  </form>
  <p><b>Example question:<i> Jim travelled at a speed of 20 km/h for 7200 secs. What was the distance covered?</i></b></p>
</div>
</body>
</html>
