<html>
  <head>
    <title>Word Problem Solver</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>
  </head>
<body>
    <h3>Word Problem Solver</h3>

<div>
  <h3>Your solution is: {{ final_value }}</h3>
  <p><a href="{{ url_for('home') }}">Try another word problem!</a></p>
</div>
</body>
</html>
